<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sadariApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DDFEE7F1DD546FF0052495D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DDFEE931DD547000052495D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DDFEE9E1DD547000052495D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
